@model DailyReportMedicationViewModel
@{ 
    Layout = null;
}
<div id="add-medication-form">

   
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Time</label>
                <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                    <input type="text" class="form-control" asp-for="Time" value="@Model.Time">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Amount</label>
                <input class="form-control form-control-line" type="text" asp-for="Amount" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Type</label>
                <select class="form-control food-type" asp-items="Html.GetEnumSelectList<EnumMedicationValueType>()"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Medication</label>
                <input class="form-control form-control-line" type="text" asp-for="Medication" />
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ClassId" />
    <input type="hidden" asp-for="OrganizationId" />
    <input type="hidden" asp-for="PersonId" />
    <input type="hidden" asp-for="Date" />
    <input type="hidden" asp-for="ClassId" />
</div>
<div class="form-group text-right">
    <button id="cancel-add-medication" data-url="@Url.Action("GetMedications", "DailyReports")" class="btn btn-danger waves-effect">Cancel</button>
    <button id="save-medication" value="Save" data-url="@Url.Action("AddEditMedication", "DailyReports")" class="btn btn-info">Save</button>
</div>
<script>
    $(document).ready(function () {
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function () {
        });
        $("#save-medication").click(function () {

            var url = $(this).data("url");
            var date = $('#report-datepicker').data('datepicker').getFormattedDate('yyyy-mm-dd');

            var valdata = {};
            $('#add-medication-form').find('input').each(function () {
                valdata[this.name] = $(this).val();
            });
            valdata["date"] = date;

            $.ajax({
                url: "/DailyReports/AddEditMedication",
                type: "POST",
                dataType: 'json',
                data: valdata
            }).done(function (response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                var personId = "@Model.PersonId";
                var classId = "@Model.ClassId";
                var organizationId = "@Model.OrganizationId";
                var url = '/DailyReports/GetMedications?personId=' + personId + '&classId=' + classId + '&organizationId=' + organizationId + '&date=' + date;

                $.get(url, function (data) {
                    $("#tab-Medication").html(data);
                });
            });
        });
    });
</script>