@model DailyReportViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="modal-title" id="myLargeModalLabel">Daily report</h4>
    <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <h4 class="card-title">Daily report for @Model.PersonFullName by </h4>
    @*<input type="date" />*@
    <!-- Nav tabs -->
    <div class="row">

        <div class="vtabs customvtab col-md-12">
            <ul class="nav nav-tabs tabs-vertical" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab-Notes" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Notes</span> </a> </li>

                @foreach (EnumDailyReportType i in Model.ReportTypes)
                {
                    int type = Convert.ToInt32(i);
                    <li class="nav-item"> <a class="nav-link select-report-category" data-toggle="tab" data-url="@Url.Action("GetReportsByType", "DailyReport", new {personId = Model.PersonId, classId = Model.ClassId, type = type})" href="#tab-@i.ToString()" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">@i.GetDisplayName()</span> </a> </li>

                }

            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="tab-Notes" role="tabpanel">
                    @Html.Partial("PartialDailyReportNote", Model.Notes);
                </div>

                @foreach (EnumDailyReportType i in Model.ReportTypes)
                {
                    <div class="tab-pane" id="tab-@i" role="tabpanel">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger waves-effect close-modal " data-dismiss="modal">Close</button>
    @*<button type="submit" class="btn btn-info waves-effect" form="Save">Save</button>*@
</div>
<script>
    $(document).ready(function () {
        $(document).on("click", "#add-note", function () {
            var personId = "@Model.PersonId";
            var classId = "@Model.ClassId";
            var organizationId = "@Model.OrganizationId";
            var url = $(this).data("url");
            url += '?personId=' + personId + '&classId=' + classId + '&organizationId=' + organizationId;
            $.get(url, function (data) {
                $("#tab-Notes").html(data);
            });
        });
        $(document).on("click", "#cancel-add-note", function () {
            var personId = "@Model.PersonId";
            var classId = "@Model.ClassId";
            var organizationId = "@Model.OrganizationId";
            var url = $(this).data("url");
            url += '?personId=' + personId + '&classId=' + classId + '&organizationId=' + organizationId;
            $.get(url, function (data) {
                $("#tab-Notes").html(data);
            });
        })
        $(document).on("click", "#save-note", function () {

            var url = $(this).data("url");
            var valdata = {};
            $('#add-note-form').find('input').each(function () {
                valdata[this.name] = $(this).val();
            });
            $.ajax({
                url: "/DailyReports/AddEditNote",
                type: "POST",
                dataType: 'json',
                data: valdata
            }).done(function (response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                var personId = "@Model.PersonId";
                var classId = "@Model.ClassId";
                var organizationId = "@Model.OrganizationId";
                var url = '/DailyReports/GetNotes?personId=' + personId + '&classId=' + classId + '&organizationId=' + organizationId;

                $.get(url, function (data) {
                    $("#tab-Notes").html(data);
                });
            });
        });

        $(document).on("click", ".edit-note", function () { 
            var url = $(this).data("url");
            $.get(url, function (data) {
                $("#tab-Notes").html(data);
            });
        });

        $(document).on("click", ".delete-note", function () {
            var url = $(this).data("url");
            console.log(url);
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: 'json',
            }).done(function (response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                $("#" + response.additionalData.id).remove();
            });
        });
    });
</script>