@model List<DailyReportNoteViewModel>
@{ 
    Layout = null;
}
<div class="text-right">
    <button id="add-note" data-url="@Url.Action("AddEditNote", "DailyReports")" class="btn btn-info waves-effect"><i class="sl-icon-plus"></i> Add report</button>
</div>
<table class="table color-table info-table">
    <tbody id="report-table">
        @{
            foreach (var n in Model)
            {
                <tr id="@n.Id">
                    <td>@n.Note</td>
                    <td><a href="#" class="edit-note" data-url="@Url.Action("EditNote", "DailyReports", new { id = n.Id} )">Edit</a></td>
                    <td><a href="#" class="delete-note" data-url="@Url.Action("DeleteNote", "DailyReports", new { id = n.Id} )">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $(".edit-note").click(function () {
            var url = $(this).data("url");
            $.get(url, function (data) {
                $("#tab-Notes").html(data);
            });
        });

        $(".delete-note").click(function () {
            var url = $(this).data("url");
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: 'json',
            }).done(function (response) {
                $.toast({
                    heading: response.header,
                    text: response.message,
                    position: 'bottom-right',
                    loaderBg: response.color,
                    icon: response.icon,
                    hideAfter: 10000
                });
                $("#" + response.additionalData.id).remove();
            });
        });
    });
</script>