@model List<AttendanceViewModel>
@{

}
<div class="card m-b-0 border-0 attendance-accordeon">
    <div class="card-header p-l-0">
        <h5 class="mb-0">
            <a href="#" class="link p-10" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                <i class="sl-icon-people"></i>&nbsp; Attendance 
            </a>
        </h5>
    </div>
    <div id="collapse1" class="collapse" aria-labelledby="headingOne" style="">
        <div class="card-body p-l-0">
            <div class="row page-titles">
                <div class="col-md-12 align-self-center text-left d-none d-md-block">
                    <button type="button" class="btn btn-danger" data-url="">
                        <i class="fa fa-plus-circle"></i> Report
                    </button>
                    <button type="button" class="btn btn-info" data-url="">
                        <i class="fa fa-plus-circle"></i> View attendance
                    </button>
                </div>
            </div>
        </div>
      

        <div class="table-responsive m-t-40">
            <table id="attendance"
                   class="display nowrap table table-hover table-striped table-bordered"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Hours</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.InDate</td>
                            <td>@item.OutDate</td>
                            <td>@item.Hours</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 align-self-center text-left d-none d-md-block">
        <button type="button" class="btn btn-info add-child" data-url="@Url.Action("CreateChild", "Person")">
            <i class="fa fa-plus-circle"></i> Add Child
        </button>

        <button type="button" class="btn btn-info add-staff" data-url="@Url.Action("CreateStaff", "Person")">
            <i class="fa fa-plus-circle"></i> Add Staff
        </button>
    </div>
</div>
<div class="people">
</div>
