@{
    var items = (List<ClassViewModel>)ViewBag.Classes;
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block">
        <button type="button" class="btn btn-info add-class" data-url="@Url.Action("Create", "Class")">
            <i class="fa fa-plus-circle"></i> Add class
        </button>
    </div>
</div>
<div class="owl-carousel owl-theme">
    @if (items.Any())
    {
        <div class="item el-element-overlay">
            <div class="social-widget el-card-item">
                <div class="el-overlay-1">
                    <div class="soc-header " style="background:#c7edd0" title="All">All</div>
                    <div class="soc-content">
                        <div class="col-6 b-r">
                            <h3 class="font-medium" id="kids-in-0"> @items.Sum(x => x.ChildrenIn)</h3>
                            <h5 class="text-muted">kids in</h5>
                        </div>
                        <div class="col-6">
                            <h3 class="font-medium" id="staff-in-0">@items.Sum(x => x.StaffIn)</h3>
                            <h5 class="text-muted">staff in</h5>
                        </div>
                    </div>
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline class-select" href="javascript:void(0);" 
                                   data-url="@Url.Action("Index", "Person", new {})"><i class="sl-icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="sl-icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        foreach (var item in items)
        {
            <div class="item el-element-overlay">
                <div class="social-widget el-card-item">
                    <div class="el-overlay-1">
                        <div class="soc-header " style="background:#c7edfb" title="@item.ClassName">@item.ShortClassName</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                <h3 class="font-medium kids-in" id="kids-in-@item.ClassId">@item.ChildrenIn</h3>
                                <h5 class="text-muted">kids in</h5>
                            </div>
                            <div class="col-6">
                                <h3 class="font-medium staff-in" id="staff-in-@item.ClassId">@item.StaffIn</h3>
                                <h5 class="text-muted">staff in</h5>
                            </div>
                        </div>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline class-select" data-url="@Url.Action("Index", "Person", new {id = item.ClassId})" ><i class="sl-icon-magnifier" ></i></a></li>
                                <li><a class="btn default btn-outline class-edit" data-url="@Url.Action("Edit", "Class", new {id = item.ClassId})"><i class="sl-icon-pencil"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">No classes</h1>
        </div>
    }
</div>
