@{
    var items = (List<ClassViewModel>)ViewBag.Classes;
    
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block">
        <button type="button" class="btn btn-info add-class" data-url="@Url.Action("Create", "Class")">
            <i class="fa fa-plus-circle"></i> Add class
        </button>
    </div>
</div>
<div class="owl-carousel owl-theme">
    @if (items.Any())
    {
        foreach (var item in items)
        {
            <div class="item el-element-overlay" id="class-id-@item.ClassId">
                <div class="social-widget el-card-item">
                    <div class="el-overlay-1">
                        <div class="soc-header @item.BackgroundColorCss "   title="@item.ClassName">@item.ShortClassName</div>
                        <div class="soc-content">
                            <div class="col-6 b-r">
                                <h3 class="font-medium kids-in" id="kids-in-@item.ClassId">@item.ChildrenIn/@item.ChildrenTotal</h3>
                                <h5 class="text-muted">kids in</h5>
                            </div>
                            <div class="col-6">
                                <h3 class="font-medium staff-in" id="staff-in-@item.ClassId">@item.StaffIn/@item.StaffTotal</h3>
                                <h5 class="text-muted">staff in</h5>
                            </div>
                        </div>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline class-select" data-classId="@item.ClassId" data-url="@Url.Action("Index", "Person", new {classId = item.ClassId})" ><i class="sl-icon-magnifier" ></i></a></li>
                                <li><a class="btn default btn-outline class-edit" data-url="@Url.Action("Edit", "Class", new {id = item.ClassId})"><i class="sl-icon-pencil"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">No classes</h1>
        </div>
    }
</div>
