@model List<ChildDailyReportViewModel>
@{
    Layout = null;
}
<div class="row">
    @foreach (ChildDailyReportViewModel item in Model)
    {

        <div class="col-md-3 el-element-overlay person-card" data-name="@item.FullName">
            <div class="el-card-item">
                <div class="card card-body el-overlay-1 person-child">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="@Url.Action("GetProfileImage", "File", new { personId = item.Id})" style="width:85px;height:85px;" alt="user" class="img-circle img-responsive">
                        </div>
                        <div class="col-md-7">
                            <h3 class="box-title m-b-0">@item.FirstName<br />@item.LastName</h3>
                        </div>
                        <div class="el-overlay">
                            <ul class="el-info">
                                <li><a class="btn default btn-outline edit-person" data-url="@Url.Action("Report", "DailyReports", new { personId = item.Id })"><i class="sl-icon-user"></i></a></li>
                                @*<li><a class="btn default btn-outline" data-url=""><i class="sl-icon-note"></i></a></li>
                                <li><a class="btn default btn-outline"><i class="sl-icon-shield"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>