@model ChildEditContactInformationViewModel
@{
    Layout = null;
}
<div class="text-right m-t-15">
    <button id="add-contact" data-url="@Url.Action("CreateContact", "Person", new { childId = Model.ChildId })" class="btn btn-info waves-effect"><i class="sl-icon-plus"></i> Add contact</button>
</div>
<div class="row m-t-10">
    @if (Model.Contacts.Any())
    {
        foreach (var item in Model.Contacts)
        {
            <div class="col-md-3 el-element-overlay" data-name="@item.FullName" id="contact-@item.ContactId">
                <div class="el-card-item">
                    <div class="card card-body el-overlay-1">
                        <div class="row">
                            <div class="col-md-5 text-center">
                                <a href="app-contact-detail.html"><img src="@Url.Action("GetProfileImage", "File", new { personId = item.GuardianId })" style="width:85px;height:85px;" alt="user" class="img-circle img-responsive"></a>
                            </div>
                            <div class="col-md-7">
                                <h3 class="box-title m-b-0">@item.FirstName<br />@item.LastName</h3>
                            </div>
                            <div class="el-overlay">
                                <ul class="el-info">
                                    <li><a class="btn default btn-outline edit-contact" data-url="@Url.Action("EditContact", "Person", new { contactId = item.ContactId })"><i class="sl-icon-user"></i></a></li>
                                    <li><a class="btn default btn-outline delete-contact" data-contact-id="@item.ContactId" data-url="@Url.Action("DeleteContact", "Person", new { contactId = item.ContactId })"><i class="sl-icon-ban"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h1 class="display-6">No contacts</h1>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        $(document).on("click", "#add-contact", function () {
            $(".preloader").fadeIn();
            var url = $(this).data("url");
            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    $("#contact").html(data);
                    $(".preloader").fadeOut();
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });


        $(document).on("click", ".edit-contact", function () {
            //$(".preloader").fadeIn();
            var url = $(this).data("url");
            var contactId = $(this).data("contact-id")

            $.ajax({
                type: 'get',
                url: url,
                success: function (data) {
                    //$(".preloader").fadeOut();
                    $("#contact").html(data);
                   
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });
        $(document).on("click", ".delete-contact", function () {
            //$(".preloader").fadeIn();
            var url = $(this).data("url");
            var contactId = $(this).data("contact-id")

            $.ajax({
                type: 'delete',
                url: url,
                success: function (response) {
                    //$(".preloader").fadeOut();

                    $.toast({
                        heading: response.header,
                        text: response.message,
                        position: 'bottom-right',
                        loaderBg: response.color,
                        icon: response.icon,
                        hideAfter: 10000
                    });
                    $("#contact-" + contactId).remove();
                },
                error: function () {
                    alert("Whoops something went wrong!");
                }
            });
        });
    });
</script>